a,label,button {
    text-decoration: none;
    color: var(--btn-text);
    font-size: 1.2em;
}

button{
    border: none;
}

#button,.button {
    text-decoration: none;
    background-color: var(--btn-color);
    padding: 0.8rem 1.5rem;        
    border-radius: 1.5rem;
    transition: all ease 0.3s;
    text-align: center;
}

#button:hover{
    background-color: var(--btn-color2);
    color: var(--btn-text2);
    border: 2px solid var(--btn-color);
    transform: scale(1.1);
}

.button:hover{
    background-color: var(--btn-color2);
    color: var(--btn-text2);
    border: 2px solid var(--btn-color);
    transform: scale(1.1);
}


.white-text{
    color: var(--btn-text);
}