.encabezado{
    background-color: var(--bg-primary);
    height: 8em;
    max-height: 4.5rem;
    display: flex;
    margin-bottom: 3px;
    border-radius: 12px;
}

.head-container{
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.encabezado .container{
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;  
}

.encabezado nav{
    display: flex;
    flex-direction: row;
}

.right{
    width: 30%;

}

.contenedor-logo{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left{
    width: 35%;
}

.encabezado nav a{
    margin-right: 3%;
}

.logo{
    width: 100%;
    height: 4.5rem;
    margin: 0 1em 0 1em;
}

.name{
    color: var(--btn-text);
}
