.fa {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    width: 20px;
    border-radius: 50%;
    border: 0.3rem solid #fff;
}

.fa:hover {
    opacity: 0.7;
}
      