@import url('nav-header.css');
@import url('button.css');
@import url('valores.css');
@import url('main.css');
@import url('socialmediabuttons.css');
@import url('footer.css');
@import url('modal.css');
@import url('catalogo.css');
@import url('info.css');

body{
    background-color: var(--bg-body);
}

section,header,footer{
    background-color: var(--bg-primary);
    width: 100%; 
    padding: 1%;
    border-radius: 12px;
}